body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

#home {
    /* height: 100vh; */

    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.header-name {
    margin: 0;
    font-size: 3rem;
    color: #fff;
}

.header-profession {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

#navbar {
    background-color: #7E7EDA;

    margin-left: 2rem;
    display: flex;
    width: 90%;
    justify-content: center;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: #fff;
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    background-color: #2f2fa2;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

section h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    padding: .2rem;
    font-size: 1rem;
    /* margin-bottom: 1rem; */
}

form input[type="submit"] {
    /* width: 100%; */
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: .5rem;
}

form input[type="text"],
form input[type="email"] {
    border: none;
    border-radius: 5px;
    padding: .5rem;
    font-size: 1.2rem;
    width: 100%;
    background-color: #3D3DC7;
    margin-bottom: .6rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    color: #F5F5F5;
}

form input[type="submit"] {
    color: #fff;
    background-color: #f64c711e;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #2f2fa2;
    color: #fff;
    padding: .2rem;
    text-align: center;
    font-size: 1rem;
}


/*Projects Section*/
#projects {
    padding: 2rem;
    text-align: center;
}

#projects h2 {
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.project {
    text-align: center;
}

.project-title {
    margin: 0;
    font-size: 1 rem;
    /* color: #333; */
}

.project-description {
    margin: 0;
    font-size: 0.8rem;
    /* color: #777; */
}